body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px; /* Taille de police plus grande */
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px; /* Taille de police plus grande pour le titre */
}

p {
    color: #666;
}

.action-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.action-btn:hover {
    background-color: #0056b3;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #ddd;
    color: #333;
}

footer a {
    color: #007bff;
}

footer a:hover {
    color: #0056b3;
}
